body {
	text-align: center ;
	font-family: Century Gothic, sans-serif;
}
h1 {
	font-size: 45px;
	font-family: Century Gothic, sans-serif;
	color: #555555;
}
p {
	font-family: Centruy Gothic, sans-serif;
}
form {
	border: 1px;
	border-style: bold;
	border-color: black;
	margin-left:42%;
	margin-right:42%;
}

input {
	text-align: center;
	border-color:black;
}
.outputText{
	color: black;
	border-style: inset;
	border-color: black;
	border-width: 1px;
}

select {
	border-color:black;
	width:175;
}

